<div class="loading" *ngIf='loading'>
    <img class="img-logo" src="https://estudiodemoda.sharepoint.com/sites/EM/sc/ImagenesSC/aplicacion/loading.gif" alt="loading...">
</div>
<div class="zona-cabecera">
    <div class="row">
        <div class="col-md-4">
            <div class="titulo-pagina">
                <h3>{{tituloPagina}}</h3>
            </div>
        </div>
        <div class="col-md-4">
            <div class="mis-actividades-gestionadas">
                <span>Gestionadas {{actividadesGestionadas}}/{{totalActividades}}</span>
            </div>
        </div>
    </div>
</div>
<hr>
<br>

<div class="zona-cuerpo">

    <div *ngIf="!tieneActividades" class="row">
        <h5>{{textoNoActividades}}</h5>
    </div>

    <div *ngIf="tieneActividades" class="row">
        <div class="col-md-12">
            <div class="botones-clasificacion">
                <button *ngFor="let clasificacion of clasificacionesRespuestas" [class.selected]="clasificacion === clasificacionSeleccionada" [(ngModel)]="clasificacion" name="{{clasificacion}}" ngDefaultControl type="button" class="btn btn-outline-info" (click)="ObtenerProcesosPorClasificacion(clasificacion)"
                    style="margin-left: 20px">{{clasificacion}}</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="procesos" [hidden]="!mostrarProcesos">
                <h3 class="titulo-procesos">Procesos</h3>
                <div>
                    <div class="btn btn-secondary btn-lg btn-block" *ngFor="let proceso of procesosRespuestasUnicos" (click)="obtenerActividades(proceso)">{{proceso}}</div>

                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="actividades" [hidden]="!mostrarActividades">
                <h3 class="titulo-actividades">Actividades</h3>
                <div *ngFor="let actividad of actividadesRespuestas" class="actividad">
                    <label class="switch">
                        <input #switcheActividad id="switche-{{actividad.id}}" type="checkbox" [checked]="actividad.respuesta === true"
                            (change)="actualizarActividad($event, switcheActividad, actividad, template, templateConfirmation)">
                        <span class="slider"></span>
                    </label>
                    <span class="label-actividad">{{actividad.actividad}}</span>
                    <span *ngIf="(actividad.tipoValidacion|lowercase) == 'checkbox y aprobación' && actividad.aprobacionActividad != ''" class="aprobacion-actividad">{{actividad.aprobacionActividad}}</span>
                    <div *ngIf="((actividad.tipoValidacion|lowercase) == 'adjunto' || 
                    (actividad.tipoValidacion|lowercase) == 'checkbox y aprobación') && (actividad.adjuntoOk === false)">
                        <input #adjuntoActividad id="adjunto-{{actividad.id}}" type="file" class="adjunto-actividad" tooltip="{{actividad.observaciones}}" title="" placement="bottom" (change)="subirAdjuntoActividad($event, actividad)">
                    </div>
                    <div *ngIf="((actividad.tipoValidacion|lowercase) == 'adjunto' || 
                    (actividad.tipoValidacion|lowercase) == 'checkbox y aprobación') && actividad.adjuntoOk === true">
                        <br>
                        <div class="row">
                            <div class="col-3">
                                <a href="{{actividad.UrlArchivo}}" target="_blank">
                                    <button class="btn btn-primary">ver adjunto</button>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modales -->
    <ng-template #template>
        <div class="modal-header">
            <h4 class="modal-title pull-left">{{tituloModal}}</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            {{mensajeModal}}
        </div>
    </ng-template>

    <ng-template #templateConfirmation>
        <div class="modal-body text-center">
            <p>{{mensajeConfirmacion}}</p>
            <button type="button" class="btn btn-default" (click)="confirmar()">Sí</button>
            <button type="button" class="btn btn-primary" (click)="declinar()">No</button>
        </div>
    </ng-template>