<div class="titulo-pagina">
    <h3>{{tituloPagina}}</h3>
</div>

<div class="zona-cuerpo">

    <div class="row">
        <div class="col-md-12">
            <div class="botones-clasificacion">
                <button *ngFor="let clasificacion of clasificaciones" [(ngModel)]="clasificacion" name="{{clasificacion.nombre}}"
                    ngDefaultControl id="{{clasificacion.id}}" type="button" class="btn btn-outline-info" (click)="ObtenerProcesosPorClasificacion(clasificacion, template)">{{clasificacion.nombre}}</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="procesos" [hidden]="!mostrarProcesos">
                <h3 class="titulo-procesos">Procesos</h3>
                <div *ngIf="!mostrarMensajeNoHayProcesos; else mostrarNoProcesos">
                    <div class="btn btn-secondary btn-lg btn-block" *ngFor="let proceso of procesos" (click)="obtenerActividades(proceso)">{{proceso.nombre}}</div>
                </div>
                <ng-template #mostrarNoProcesos>
                    <alert type="info">
                        <strong>No hay procesos!</strong>
                        No existen procesos para esta clasificación según el rol
                    </alert>
                </ng-template>
            </div>
        </div>

        <div class="col-md-6">
            <div class="actividades" [hidden]="!mostrarActividades">
                <h3 class="titulo-procesos">Actividades</h3>
                <div *ngFor="let actividad of actividades" class="actividad">
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider"></span>
                    </label>
                    <span class="label-actividad">{{actividad.actividad}}</span>
                    <div *ngIf="actividad.tipoValidacion == 'Adjunto'">
                        <input type="file" class="adjunto-actividad" title="Adjuntar archivo">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modales -->

    <ng-template #template>
        <div class="modal-header">
            <h4 class="modal-title pull-left">{{tituloModal}}</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            {{mensajeModal}}
        </div>
    </ng-template>