<div class="titulo-pagina">
  <h3>{{tituloPagina}}</h3>
</div>

<div class="zona-cuerpo">

  <table id="tabla-parametros" class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Nombre de la lista</th>
        <th scope="col">Url de la lista</th>
        <th scope="col">Descripción</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Maestro de clasificaciones</td>
        <td><a href="/sites/EM/sc/Lists/MaestroClasificacion/AllItems.aspx" alt="enlace de maestro" target="_blank">Haga
            clic aquí</a></td>
        <td>Esta es la lista que contiene las clasificaciones de la aplicación</td>
      </tr>
      <tr>
        <td>Maestro de procesos</td>
        <td><a href="/sites/EM/sc/Lists/MaestroProcesos/AllItems.aspx" alt="enlace de maestro" target="_blank">Haga
            clic aquí</a></td>
        <td>Esta es la lista que contiene los procesos consolidados de la aplicación</td>
      </tr>
      <tr>
        <td>Maestro de tareas</td>
        <td><a href="/sites/EM/sc/Lists/MaestroTareas/AllItems.aspx" alt="enlace de maestro" target="_blank">Haga clic
            aquí</a></td>
        <td>Esta es la lista que contiene las tareas consolidadas de la aplicación</td>
      </tr>
      <tr>
        <td>Maestro de responsables</td>
        <td><a href="/sites/EM/sc/Lists/MaestroResponsables/AllItems.aspx" alt="enlace de maestro" target="_blank">Haga
            clic aquí</a></td>
        <td>Esta es la lista que contiene los responsables que interactuán con la aplicación</td>
      </tr>
      <tr>
        <td>Maestro de actividades generales</td>
        <td><a href="/sites/EM/sc/Lists/MaestroActividadesGenerales/AllItems.aspx" alt="enlace de maestro" target="_blank">Haga
            clic aquí</a></td>
        <td>Esta es la lista que contiene las actividades generales configuradas para la aplicación</td>
      </tr>
      <tr>
        <td>Maestro de usuarios</td>
        <td><a href="/sites/EM/sc/Lists/MaestroUsuarios/AllItems.aspx" alt="enlace de maestro" target="_blank">Haga
            clic aquí</a></td>
        <td>Esta es la lista que contiene los usuarios que interactuan con la aplicación, allí se puede ver el rol por cada usuario y su jefe inmediato</td>
      </tr>
    </tbody>
  </table>

</div>