<header class="navbar navbar-dark fixed-top  bg-dark">
    <a class="navbar-brand">
        <img class="Img_logo" src="https://estudiodemoda.sharepoint.com/sites/Intranet/SiteAssets/logo-edm.png?ctag=190328 " alt="">
        <a class="btn btn-default" id="menu-toggle"><span></span></a>
    </a>
    <div class="nav navbar-nav navbar-right">
        <div class="zona-usuario-logueado">
            <div class="usuario">
                <span class="usuario-logueado">{{nombreUsuario}}</span>
                <img src="{{imagenUsuario}}" class="imagen-usuario" alt="usuario">
            </div>
            <!-- <div class="roles">
                <div class="rol">
                    {{responsableUsuario}}
                </div>
            </div> -->
        </div>
    </div>
</header>
<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav" id="sidebar-nav">
            <li class="sidebar-brand">
                <!-- <a href="#">   </a> -->
            </li>
            <li *ngIf="VerMisActividades">
                <a routerLink="/mis-actividades" routerLinkActive="active">Mis actividades</a>
            </li>
            <li *ngIf="VerActividadesExtras">
                <a routerLink="/actividades-extras" routerLinkActive="active">Actividades extraordinarias</a>
            </li>
            <li *ngIf="VerInformes">
                <a routerLink="/informes" routerLinkActive="active">Informes</a>
            </li>
            <li *ngIf="VerInformesTiendas">
                <a routerLink="/informes-administrador-tiendas" routerLinkActive="active">Informes de tiendas</a>
            </li>
            <li *ngIf="VerNovedades">
                <a routerLink="/novedades" routerLinkActive="active">Novedades</a>
            </li>
            <li *ngIf="VerRevisarNovedades">
                <a routerLink="/revisar-novedades" routerLinkActive="active">Revisar novedades</a>
            </li>
            <li *ngIf="VerDocumentacion">
                <a routerLink="/documentacion" routerLinkActive="active">Documentación</a>
            </li>
            <li *ngIf="VerParametrizacion">
                <a routerLink="/parametrizacion" routerLinkActive="active">Parametrización</a>
            </li>
        </ul>
    </div>
    <div id="page-content-wrapper">
        <br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <!-- <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Ocultar menú</a> -->
                    <!-- <div class="zona-usuario-logueado">
                        <div class="usuario">
                            <img src="{{imagenUsuario}}" class="imagen-usuario" alt="usuario">
                            <span class="usuario-logueado">{{nombreUsuario}}</span>
                        </div>
                        <div class="roles">
                            <div class="rol">
                                {{responsableUsuario}}
                            </div>
                        </div>
                    </div> -->
                    <div class="contenido-aplicacion">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>