<div id="wrapper">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="#">
          Estudio Moda
        </a>
      </li>
      <li>
        <a routerLink="/mis-actividades" routerLinkActive="active">Mis actividades</a>
      </li>
      <li>
        <a routerLink="/informes" routerLinkActive="active">Informes</a>
      </li>
      <li>
        <a routerLink="/novedades" routerLinkActive="active">Novedades</a>
      </li>
      <li>
        <a routerLink="/documentacion" routerLinkActive="active">Documentación</a>
      </li>
      <li>
        <a routerLink="/asignacion-tareas" routerLinkActive="active">Asignación de tareas</a>
      </li>
      <li>
        <a routerLink="/solicitudes-tienda" routerLinkActive="active">Solicitudes Tienda</a>
      </li>
      <li>
        <a routerLink="/parametrizacion" routerLinkActive="active">Parametrización</a>
      </li>
    </ul>
  </div>
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Mostrar menú</a>
          <div class="zona-usuario-logueado">
              <div class="usuario">
                  <img src="../assets/images/user.png" alt="usuario">
                  <span class="usuario-logueado">{{nombreUsuario}}</span>
              </div>
              <div class="roles">
                  <div *ngFor="let rol of roles" class="rol">
                      <input [(ngModel)]="radioRol" class="rol-radio" type="radio" id="rol-{{rol}}" name="roles" value="{{rol}}" (change)="accionRol(rol)">{{rol}}<br>
                  </div>
              </div>
          </div>
          <div class="contenido-aplicacion">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>